APP_DEBUG=false
YZD_PUBLIC_BASE_URL=https://y.miloce.cn
YZD_SHORT_BASE_URL=https://y.miloce.cn
YZD_ADMIN_OPENID=oL8I43flaski-3Q2shkh4olGQEn4

YZD_WECHAT_APPID=wx1c9791197f6da158
YZD_WECHAT_SECRET=6150a228d2054a123c9ecb86d0943a4e
YZD_WECHAT_MCH_ID=1719327025
YZD_WECHAT_MCH_SERIAL_NO=519873F1E1CFA9B8471C25FFB4F67AE10EB473F1
YZD_WECHAT_PRIVATE_KEY_PATH=F:\admin\Desktop\云栈点\代码生成\yzd\backend\certs\apiclient_key.pem
YZD_WECHAT_API_V3_KEY=7llRec1By2puYbjpuIiza4LU5zVJc6Ul
YZD_WECHAT_PUBLIC_KEY_ID=PUB_KEY_ID_0117193270252025092800381852000401
YZD_WECHAT_PUBLIC_KEY_PATH=F:\admin\Desktop\云栈点\代码生成\yzd\backend\certs\pub_key.pem
