@import '/variable.less';

.home-navbar {
  .t-navbar {
    &__left {
      margin-left: 0;
    }
  }

  &__icon {
    padding: 12rpx 16rpx;
  }

  &__left {
    display: flex;
    align-items: center;
    padding: 0 16rpx;

    .t-search {
      --td-search-height: 64rpx;
      --td-search-font-size: @font-size-mini;
      width: 375rpx;

      .t-icon {
        font-size: @font-size-default !important;
      }
    }
  }
}
